{
    "extends":[
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "env": {
        "jest":true
    },
    "globals": {
        "document": true
    },
    "rules": {

        "react/jsx-filename-extension":
        [1,
        { "extensions": [
            ".js",
            ".jsx"
            ]
            }
        ],
        "react/react-in-jsx-scope": "off",
        "import/no-named-as-default": 0
    
    }
}